.page {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
  position: relative;
}

.test {
  color: white;
  text-align: center;
}

.section {
  max-width: 984px;
  margin: 0 auto 0 auto;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .section {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 660px) {
  .section {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section-wide {
  max-width: calc(1184px + (2 * 48px));
  margin: 0 auto 0 auto;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .section-wide {
    max-width: calc(1184px + (2 * 24px));
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 660px) {
  .section-wide {
    max-width: calc(1184px + (2 * 16px));
    padding-left: 16px;
    padding-right: 16px;
  }
}



.header {
  margin-top: 28px;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background-image: url(./images/header-logo.svg);
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 660px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: cover;
  }
}


.header__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}



.header__link_active {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 660px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 18px;
  align-items: center;
}

/* ................................. Lead ....................*/


@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}


.lead__title {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: white;
}



@media screen and (max-width: 710px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__sub-tile {
  margin: 32px auto 0 auto;
  padding: 0;
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: white;
}




@media screen and (max-width: 710px) {
  .lead__sub-tile {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}

.lead__image {
  width: 100%;
  margin-top: 64px;
}



@media screen and (max-width: 660px) {
  .lead__image {
    margin-top: 40px;
  }
}

.lead__caption {
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}



/* _____________intro____________ */


.intro {
  margin-top: 92px;
  display: grid;
  grid-template-columns: minmax(288px, 690px);
  grid-template-rows: repeat(3, auto);
}


.intro__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
}


@media screen and (max-width: 660px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}


.intro__subtitle {
  margin: 40px 0 0 0;
  font-size: 16px;
  line-height: 26px;
  color: white;
}


.intro__list {
  margin: 33px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.intro__span {
  font-weight: 400;
}


/*              photo-grid                       */


.photo-grid {
  margin-top: 92px;
}

.photo-grid__container {
  list-style-type: none;
  max-width: 100%;
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}



/* Блок CARDS  */



.cards {
  margin-top: 92px;
}

@media screen and (max-width: 660px) {
  .cards {
    padding: 0;
    margin-top: 64px;
  }
}






.card-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 460px) minmax(352px, 484px));
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .card-container {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 767px) {
  .card-container {
    grid-template-columns: .47fr .53fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 660px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.card-container__place {
  margin-top: 80px;
}

@media screen and (max-width: 860px) {
  .card-container__place {
    margin-top: 73px;
  }
}

@media screen and (max-width: 660px) {
  .card-container__place {
    margin-top: 50px;
  }
}

.card-container__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  margin: 0;
}

@media screen and (max-width: 860px) {
  .card-container__title {
    font-size: 42px;
    line-height: 46px;
  }
}

.card-container__special {
  align-self: flex-end;
}

.card-container__block-url {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.card-container__url {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin: 0 0 12px 0;
}

.card-container__link {
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.card-container__image {
  width: 100%;
}



.card-container__block-parag {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 27px;
}


@media screen and (max-width: 860px) {
  .card-container__block-parag {
    gap: 25px;
  }
}



.card-container__paragraph {
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 860px) {
  .card-container__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

/* Блок мобильный падинг БЭМ - есть */
@media screen and (max-width: 660px) {
  .mobil-pad {
    padding: 0 16px 0 16px;
  }
}

/* _____________________________________БЭМ______________________*/

.cover {
  margin-top: 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0;
  }
}


@media screen and (max-width: 660px) {
  .cover {
    margin-top: 66px;
  }
}

.cover__overlay {
  display: grid;
  margin: 0 auto 0 auto;
  min-height: 740px;
}

@media screen and (max-width: 1280px) {
  .cover__overlay {
    min-height: calc((100vw - 96px) / 1.6);
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: calc(100vw / 1.6);
  }
}


.cover__image {
  margin: 0 auto 0 auto;
  background-image: url(./images/cover-trains.jpg);
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
}


.cover__blackout {
  margin: 0 auto 0 auto;
  background-color: #2A2C2F;
  opacity: .3;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 2;
  transition: opacity .5s;
}

.cover__text {
  margin: 0 auto 0 auto;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.cover__title {
  margin: 0 auto 0 auto;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 660px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.cover__sub-title {
  margin: 32px auto 0 auto;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 660px) {
  .cover__sub-title {
    font-size: 14px;
    line-height: 16px;
  }
}

.cover__link {
  display: block;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 4;
}

.cover__overlay:hover .cover__blackout {
  opacity: .8;
}


.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  margin-bottom: 24px;
}

@media screen and (max-width: 660px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
  }
}

.footer__menu {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
}

@media screen and (max-width: 660px) {
  .footer__menu {
    grid-auto-flow: row;
    gap: 32px;
  }
}

.footer__link {
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 660px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

@media screen and (max-width: 660px) {
  .footer__copyright {
    margin-top: 48px;
  }
}



/* блок для ссылок БЭМ - есть */
.link {
  transition: opacity .5s;
}

.link:hover {
  opacity: .8;
}


