.page {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2A2C2F;
}

.test {
  color: white;
  text-align: center;
}

.section {
  max-width: 984px;
  margin: 0 auto 0 auto;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 768px) {
  .section {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 660px) {
  .section {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section-wide {
  max-width: calc(1184px + (2 * 48px));
  margin: 0 auto 0 auto;
  padding-left: 48px;
  padding-right: 48px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .section-wide {
    max-width: calc(1184px + (2 * 24px));
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 660px) {
  .section-wide {
    max-width: calc(1184px + (2 * 16px));
    padding-left: 16px;
    padding-right: 16px;
  }
}



.header {
  margin-top: 28px;
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  background-image: url(./images/header-logo.svg);
  width: 176px;
  height: 52px;
}

@media screen and (max-width: 660px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size: cover;
  }
}


.header__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity .5;
}

.header__link:hover {
  opacity: .8;
}

.header__link_active {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 660px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 18px;
  align-items: center;
}

/* ................................. Lead ....................*/


@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}


.lead__title {
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 660px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__sub-tile {
  margin: 32px auto 0 auto;
  padding: 0;
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 660px) {
  .lead__sub-tile {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}

.lead__image {
  width: 100%;
  margin-top: 64px;
}



@media screen and (max-width: 660px) {
  .lead__image {
    margin-top: 40px;
  }
}

.lead__caption {
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 660px) {
  .lead__caption {
    padding-left: 16px;
  }
}

/* _____________intro____________ */


.intro {
  margin-top: 92px;
  display: grid;
  grid-template-columns: minmax(288px, 690px);
  grid-template-rows: repeat(3, auto);
}


.intro__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
}


@media screen and (max-width: 660px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}


.intro__subtitle {
  margin: 40px 0 0 0;
  font-size: 16px;
  line-height: 26px;
  color: white;
}


.intro__list {
  margin: 33px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.intro__span {
  font-weight: 400;
}


/*              photo-grid                       */


.photo-grid {
  margin-top: 92px;
}

.photo-grid__container {
  list-style-type: none;
  max-width: 100%;
  margin:0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}



/* <"""""""""""""""""""""БЭМ""""""""""""""""""""""""""""""> */



.cards {
  border: 1px solid aqua;
  margin-top: 92px;
}

.card-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 48px 40px;
}


@media screen and (max-width: 1024px) {
  .card-container {
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 860px) {
  .card-container {
    grid-gap: 48px 28px;
  }
}

.card-container__block {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-container__special {
  align-self: end;
}

.card-container__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  margin: 0;
}

.crad-container__image {
  width: 100%;

}


.card-container__header-url {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: white;
}

.card-container__link {
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.card-container__paragraph {
  font-size: 18px;
  line-height: 29px;
  color: white;
  margin: 0 0 26px 0;
}


.cover {
  border: 1px solid salmon;
  height: 100px;
  margin-top: 92px;
}

.footer {
  border: 1px solid mediumblue;
  height: 100px;
}
