.photo-grid__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 320px) {
  .photo-grid__container {
    gap: 12px;
  }
}
