.cover__overlay {
  display: grid;
  margin: 0 auto 0 auto;
  width: 100%;
  min-height: 740px;
}

@media screen and (max-width: 1280px) {
  .cover__overlay {
    min-height: calc((100vw - 96px) / 1.6);
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: calc(100vw / 1.6);
  }
}
