.card-container__block-parag {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 27px;
}


@media screen and (max-width: 860px) {
  .card-container__block-parag {
    gap: 25px;
  }
}
