.card {
  margin: 0 0 80px 0; /* Изменить */
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-template-rows: min-content;
  gap: 48px 40px;
}

.card:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .card {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    margin-bottom: 73px;
    grid-template-columns: 1fr 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 660px) {
  .card {
    margin-bottom: 53px;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
